{% extends "base.html" %}

{% block content %}

  <div class="t1">
{#                <a href="http://127.0.0.1:8899/add/" class="btn btn-primary">添加书籍</a>#}
{#                <a href="http://127.0.0.1:8899/select/Author/" class="btn btn-primary">查询作者</a>#}
{#                <a href="http://127.0.0.1:8899/select/Publish/" class="btn btn-primary">查询出版社</a>#}
                <div class="row">
                    <div class="col-md-offset-2">
                          <table class="table table-striped  table-bordered">
                        <thead>
                           <tr>
                               <th>序号</th>
                               <th>书籍名称</th>
                               <th>出版社名称</th>
                               <th>出版社邮箱</th>
                           </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                     <tr>
                                         <td>{{ forloop.counter }}</td>
                                         <td>{{ book.title }}</td>
                                         <td>{{ book.publisher.name }}</td>
                                         <td>{{ book.publisher.email }}</td>
                                     </tr>
                            {% endfor %}

                        </tbody>
                  </table>
                    </div>
                </div>
          </div>

{% endblock %}

{% block title %}
首页
{% endblock %}


{% block hi %}
{{ block.super }}
<h3>hi body.</h3>
{% endblock %}

<script>
    //nid = 0 ,隐藏

</script>